@model Events.Web.Models.EventViewModel

<div class="col-md-4 col-md-6 col-xs-12">
    <div class="event-box">
        <h2>@Model.Title</h2>
        @if (Model.ImagePath != null)
        {
            <span>
                <img class="img-thumbnail" src="@Url.Content(Model.ImagePath)" />
            </span>
        }

        <span class="font-weight-bold">@Model.StartDateTime</span>
        
        @if (Model.Duration != null)
        {
            <span class="font-weight-bold">
                (@Model.Duration.Value.ToString(@"hh\:mm") hours)
            </span>
        }
        @if (Model.Author != null)
        {
            <div class="font-weight-bold text-danger">Author : @Model.Author</div>
        }
        @if (Model.Location != null)
        {
            <div class="location">Location: @Model.Location</div>
        }

        <div id="event-details-@Model.Id">
            @Ajax.ActionLink("View Details >>", "EventDetailsById", "Home",
           new { id = Model.Id },
           new AjaxOptions
           {
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "event-details-" + Model.Id
           }, new { @class = "btn btn-default" })

        </div>

        <div id="event-details-@Model.Id">
            @Ajax.ActionLink("Add Comment >>", "AddCommentById", "Home",
           new { id = Model.Id },
           new AjaxOptions
           {
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "event-details-" + Model.Id
           }, new { @class = "btn btn-default" })

        </div>

    </div>
</div>
