@model Events.Web.Models.EventDetailsViewModel
@{ 
    string currentUserId = ViewBag.CurrentUserId;
}

@if (Model.Description != null)
{
    <div class="text-info text-justify font-weight-bold">Description: @Model.Description</div>
}

@if (Model.Comment.Any())
{
    @:Comments:
    <ul>
        @foreach (var comment in Model.Comment)
        {
        <li>
            @comment.Text
            @if (comment.Author != null)
            {
                @:(by @comment.Author)
            }
            @if (currentUserId != null && comment.AuthorId != null && comment.AuthorId.Equals(currentUserId))
            {
                @Html.ActionLink("Delete", "DeleteComment", "Home", new { id = comment.Id}, new { @class = "btn btn-danger" });
            }
        </li>
        }
    </ul>
}
else
{
    <p>No Comments</p>
}


@if (ViewBag.CanEdit)
{
    @Html.ActionLink("Edit", "Edit", "Events", new { id = Model.Id },
    new { @class = "btn btn-default" })
    <span></span>
    @Html.ActionLink("Delete", "Delete", "Events", new { id = Model.Id },
    new { @class="btn btn-default"})
}
